body {
  margin: 0px auto;
  width: 100%;
  background-color: #ff9a91;
}
header{
  height: 250px;
}
.headGroup{
  margin-top:20px;
  background-color: #FFF7C0;
  border: 4px solid #66ab8c;
  padding-top: 20px;
  padding-bottom:30px;
}
img{
  float:left;
  width: 250px;
}
.headText{
  text-align:center;
  margin-left: 50px;
}
.mainHead{
  font-size:40pt;
  font-weight:bold;
  text-align:center;
  padding-top:20px;
  font-family: 'Luckiest Guy', cursive;
}
header h2{
  text-align:center;
  font-family: 'Luckiest Guy', cursive;
}
/* Navbar Container */
.topnav{
  float:right;
  margin-right: 100px;
  margin-top: -30px;
  font-family: 'Luckiest Guy', cursive;
}
.topnav li {
  display: inline;
  margin-left:10px;
}
/* Navbar Links */
.topnav a{
  background-color:#66ab8c;
  color: white;
  font-size: 15px;
  padding: 14px 25px;
  margin-top: -60px;
  list-style-type: none;
  width: 350px;
  text-decoration: none;
}
/* .topnav a{
  display:inline-block;
  color: #66ab8c;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
} */
/* Links change color on hover */
.topnav a:hover {
  background-color: #ff9a91;
  color: black;
}

/*  Hours of Operation */
.hours{
  border: 2px solid #FFF7C0;
  width:750px;
  padding-top:30px;
  padding-bottom: 100px;
  margin-left: 550px;
  text-align:center;
  font-weight: bold;
  background-color:#66ab8c;
}
#hoursHead{
  margin-top: -20px;
  padding-bottom:20px;
  font-size: 35px;
  font-family: 'Luckiest Guy', cursive;
}
#hoursText{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
#hoursText img{
  padding-top: 10px;
  margin-left:250px;
  
}
/*  Our Story Section */
.story{
  float:right;
  position: relative;
  margin-right: 250px;
  margin-top:-210px;
  border: 2px solid #FFF7C0;
  height: 620px;
  width:300px;
  padding-top:30px;
  padding-bottom: 80px;
  text-align:center;
  font-weight: bold;
  background-color:#66ab8c;
}
#storyImg{
  margin-top: -20px;
  margin-left: 25px;
}
#storyHead{
  font-size: 20pt;
  padding-top: 150px;
  padding-bottom: 20px;
  font-family: 'Luckiest Guy', cursive;
}

#storyText{
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
}
/* Contact Us section */
.contact{
  border: 2px solid #FFF7C0;
  width:750px;
  height:380px;
  padding-top:30px;
  padding-bottom: 80px;
  margin-top: 30px;
  margin-left: 550px;
  text-align:center;
  font-weight: bold;
  background-color:#66ab8c;
}
.contactHead{
  padding-top:200px;
  font-size:40pt;
  text-align:center;
  font-family: 'Luckiest Guy', cursive;
}
.contactText{
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
}
#cookiePic{
  margin-left: 250px;
}
/* Advertisements */
.banners{
display:inline-block;
margin-top:20px;

}
/*  Gluten Free */
.banner1{
  float:left;
  border: 2px solid #FFF7C0;
  padding-top:30px;
  padding-bottom: 100px;
  margin-left: 200px;
  text-align:center;
  font-weight: bold;
  background-color:#66ab8c;
  width: 500px;
  height: 150px;
}
#banner1Head{
  margin-top:-20px;
  font-size: 17pt;
  padding-bottom: 10px;
  font-family: 'Luckiest Guy', cursive;
}
#banner1Text{
  padding-top:50px;
  font-family: 'Raleway', sans-serif;
}
#cutterPic{
  padding-left:10px;
}

/* Tshirts */
.banner2{
  float:right;
  border: 2px solid #FFF7C0;
  padding-top:30px;
  padding-bottom: 100px;
 margin-left: 450px;
  text-align:center;
  font-weight: bold;
  background-color:#66ab8c;
  width: 500px;
  height: 150px;
}
#banner2Head{
  margin-top:-20px;
  font-size: 20pt;
  padding-bottom: 10px;
  font-family: 'Luckiest Guy', cursive;
}
#banner2Text{
  font-family: 'Raleway', sans-serif;
}
#shirtImg{
  margin-left:120px;
}
/*  Location Section */
.locations{  
  float:left;
  margin-right: 400px;
  margin-left:200px;
  margin-top:-733px;
  border: 2px solid #FFF7C0;
  height: 620px;
  width:300px;
  padding-top:30px;
  padding-bottom: 80px;
  text-align:center;
  font-weight: bold;
  background-color:#66ab8c;
}
#locationHead{
  text-align: center;
  font-size:25pt;
  font-family: 'Luckiest Guy', cursive;
}
#locationList{
  margin-top:20px;
  line-height: 20px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
}
#locationList li{
  padding-top: 50px;
}
/*  Floating Fish Pic */
#fishPic{
  position: absolute;
  margin-top: -250px;
  margin-left: 800px;

}
/* Footer */
footer{
  height:50px;
  margin-top:20px;
  background-color: #FFF7C0;
  border: 4px solid #66ab8c;
  padding-top: 100px;
  padding-bottom:20px;
}
footer p{
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}

/*  Table on Sales Page */


table tr, td, th{
  text-align: left;
  border: 2px solid #f089c6;
  font-size: 20pt;
  padding-right: 20px;
  width: 100px;
  height: 40px;
  color:#450099;
  font-family: 'Acme', sans-serif;
}

tr:nth-child(even){
  background-color: #FFF7C0;
}
tr:nth-child(odd){
  background-color: #66ab8c;
}

#form{
  padding-top: 40px;
  font-size: 15pt;
  font-weight:bold;
  font-family: 'Raleway', sans-serif;
}
  
label{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-left: 50px;
}

#shopImg{
  display:center;
}
fieldset{
  font-family: 'Raleway', sans-serif;
}